server:
  port: 8080

spring:
  application:
    name: babylon-backend

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics,info
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
